
.cart .carts {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}
.cart img {
    width: 200px;
    height: 200px;
}
.cart .info {
    width: 350px;
    /* display: flex;
    flex-wrap: wrap;
    align-content: center; */
}
/* .info p {

} */
.cart h6 {
    font-weight:bold;
    color:blue;
}
